<div class="readings">
  <h2>
    <i class="fa-solid fa-book-open" aria-hidden="true"></i> Suggested Readings
  </h2>
  <ul>
    {% for reading in zotero-readings %}
      {% assign bibl = course_zotero.references | where: "id", reading | first %}
      <li>
        {% if bibl and bibl['chicago-bibliography'] %}
          {% if bibl.URL %}
            <a href="{{ bibl.URL }}" target="_blank" rel="noopener">{{ bibl['chicago-bibliography'] }}</a>
          {% else %}
            {{ bibl['chicago-bibliography'] }}
          {% endif %}
        {% elsif bibl %}
          <a href="{{ bibl.URL }}">{{ bibl.author[0].family }}{{ bibl.author[0].literal }}, {{ bibl.title }} ({{ bibl.issued[0].year }}){% if bibl.page %}, {{ bibl.page }}{% endif %}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  Zotero:
  <a
    href="{{ course_settings.base-urls.zotero }}/tags/{{ zotero-tag }},_further-reading/library"
    >Further Reading (optional)</a
  >
  <i class="fa-solid fa-arrow-up-right-from-square"></i>
</div>
